.login-title {
    height: 11%;
    margin-top: 6.5rem;
    padding-top: 4.6rem;
}

.login-form-div {
    height: 67%;
    text-align: center;
}

.login-bottom-div {
    height: 10%;
    margin-bottom: 6.4rem;
    text-align: center;
}

.input-login-primary {
    background: var(--grey-nuancy-2);
    padding-left: 3.4rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 17rem;
}

