@import '../../../mixin';

.wrapper {
  display: grid;
  grid-template-rows: 30% auto auto;
  height: -webkit-fill-available;
}

.login-title {
  display:flex;
  align-items:center;
  justify-content:center;
  @include font-main-title(var(--black-nuancy-1), center);
}

.login-form-div {
  text-align: center;
  margin: 0 1.6rem;
}

.login-bottom-div {
  margin: auto 0 5rem 0;
  text-align: center;
}
