.login-title {
    margin-top: 6.5rem;
    padding-top: 4.4rem;
    padding-bottom: 4.5rem;
    margin-bottom: 6.5rem;
}

.login-form-div {
    text-align: center;
}

.login-bottom-div {
    margin-top: 20rem;
    margin-bottom: 6.4rem;
    text-align: center;
}

.input-login-primary {
    background: var(--grey-nuancy-2);
    padding-left: 3.4rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 17rem;
}

