<ion-content class="ion-padding">

  <div class="wrapper">
    <div>
      <h2>Champignons</h2>
      <ion-toolbar color="light">
        <ion-buttons slot="end">
          <ion-button slot="icon-only" (click)="openModal()">
            <ion-icon src="assets/icon/filter.svg" class="filter-button"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </div>

    <div class="ion-padding wrapper__list ion-content-scroll-host">
      <ion-list>
        <ion-item *ngFor="let mushroom of items">
          <app-mushroom-card [mushroom]="mushroom">
          </app-mushroom-card>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content [loadingText]="loadingMessage"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>

</ion-content>