<ion-content>

  <div class="wrapper">
    <div>
      <h2>Champignons</h2>
      <div class="mushrooms-subtitle-and-icon">
        <h3 class="page-main-subtitle">Tous les champignons</h3>
        <ion-button fill="clear" slot="icon-only" (click)="openModal()">
          <ion-icon src="assets/icon/filter.svg" class="filter-button"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div class="wrapper__list ion-content-scroll-host">
      <ion-list>
        <ion-item *ngFor="let mushroom of items" class="ion-no-padding">
          <app-mushroom-card [mushroom]="mushroom">
          </app-mushroom-card>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content [loadingText]="loadingMessage"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>

</ion-content>
