.wrapper {
  padding: 0 0 0 0;
}

.card {
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-gap: 2rem;
  margin: 0;
  padding: 1rem 1.6rem;
}

.card-text-icons-div {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

img {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 5px;
}

.show-partial-text {
  display: -webkit-box;   
  -webkit-line-clamp: 2;   
  -webkit-box-orient: vertical;     
  overflow: hidden; 
}

.wrapper__buttons {
  display: flex;
  flex-direction: column;

}

ion-card-header {
  padding: 0.11rem;
}

ion-card-title {
  color: var(--shroom-secondary);
  font-size: 1.3rem;
  font-family: 'Quando', 'serif';
}

ion-card-subtitle {
  margin: 0 0 0 0;
  font-family: 'Quando', 'serif';
}

ion-card-content {
  margin: 14px 0 14px 0;
  font-family: 'Quando', 'serif';
  font-size: 1.2rem;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: var(--black-nuancy-1);
}

.card-user-name, .card-usage {
  color: var(--shroom-secondary);
  font-size: 1.2rem;
}
