.register-top-div {
    text-align: center;
    margin-top: 5.6rem;
    margin-bottom: 8.8rem;
}

.register-middle-div {
    text-align: center;
}

.register-bottom-div {
    text-align: center;
    margin-top: 20rem;
    margin-bottom: 5rem;
}

.inter-font-item {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    color: var(--black-nuancy-1);  
}

