.register-top-div {
    text-align: center;
    margin-top: 5.6rem;
    margin-bottom: 8.8rem;
}

.register-middle-div {
    height: 70%;
    text-align: center;
}

.register-bottom-div {
    text-align: center;
    margin-top: 20rem;
    margin-bottom: 5rem;
}
