@import '../../../mixin';

.register-top-div {
  display: flex;
  align-items: center;
  justify-content: center;
  @include font-main-title(var(--black-nuancy-1), center);
}

.register-middle-div {
  text-align: center;
  margin: 0 1.6rem;
}

.register-bottom-div {
  margin: auto 0 5rem 0;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-rows: 20% auto auto;
  height: -webkit-fill-available;
}
