.label-input-wrapper {
  width: 100%;
}

.logout-button-div {
  text-align: center;
}

.wrapper__label {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2rem;
  width: 100%;
}

.wrapper__label ion-label {
  grid-column: 1/8;
}

.wrapper__label ion-icon {
  grid-column: 8/9;
}

ion-list {
  margin: 1.6rem;
}
