<ion-searchbar (ionChange)="onInputChange($event)" [value]="state.search"></ion-searchbar>

<ion-chip *ngFor="let user of state.chips|keyvalue">
  <ion-label>{{user.value[itemKeys.searchable]}}</ion-label>
  <ion-icon name="close" (click)="onChipClick(user.key)"></ion-icon>
</ion-chip>

<ion-accordion-group>
  <!-- Favorites items -->
  <ion-accordion value="first" *ngIf="useFavorite">
    <ion-item slot="header" color="light">
      <ion-label>Mes favoris</ion-label>
    </ion-item>
    <ion-list class="ion-padding favorites__list" slot="content">
      <ion-item *ngFor="let item of state.favorites">
        <ion-checkbox slot="start" (ionChange)="onCheck($event)" [checked]="item.checked" [value]="item">
        </ion-checkbox>
        <ion-label>{{item[itemKeys.searchable]}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-accordion>
  <!-- All items -->
  <ion-accordion>
    <ion-item slot="header" color="light">
      <ion-label>Tout</ion-label>
    </ion-item>
    <div class="ion-padding users__content ion-content-scroll-host" slot="content">
      <ion-list>
        <ion-item *ngFor="let item of state.items">
          <ion-checkbox slot="start" (ionChange)="onCheck($event)" [checked]="item.checked" [value]="item">
          </ion-checkbox>
          <ion-label>{{item[itemKeys.searchable]}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </ion-accordion>

</ion-accordion-group>
