// .details__favorites-users {
//   max-height:20vh;
//   overflow-y: scroll;
// }

// .details__all-users {
//   max-height:15vh;
//   overflow-y: scroll;
// }

// ion-list {
//   max-height:15vh;
//   overflow-y: scroll;
// }

.favorites__list {
  overflow: scroll;
  height: 100%;
  max-height: 20vh;
}

.users__content {
  overflow: scroll;
  height: 100%;
  max-height: 20vh;
}

label {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
