<ion-searchbar (ionChange)="onInputChange($event)"></ion-searchbar>

<ion-chip *ngFor="let user of chips|keyvalue">
  <ion-label>{{user.key}}</ion-label>
  <ion-icon name="close" (click)="onChipClick(user.key)"></ion-icon>
</ion-chip>

<ion-accordion-group>
  <!-- Favorites users -->
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Mes favoris</ion-label>
    </ion-item>
    <ion-list class="ion-padding favorites__list" slot="content">
      <ion-item *ngFor="let user of favorites">
        <ion-checkbox slot="start" value={{user.username}} (ionChange)="onCheck($event)" [checked]="user.checked">
        </ion-checkbox>
        <ion-label>{{user.username}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-accordion>
  <!-- All users -->
  <ion-accordion>
    <ion-item slot="header" color="light">
      <ion-label>Tous les utilisateurs</ion-label>
    </ion-item>
    <div class="ion-padding users__content ion-content-scroll-host" slot="content">
      <ion-list>
        <ion-item *ngFor="let user of users">
          <ion-checkbox slot="start" value={{user.username}} (ionChange)="onCheck($event)" [checked]="user.checked">
          </ion-checkbox>
          <ion-label>{{user.username}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </ion-accordion>

</ion-accordion-group>
