<ion-content>
  <div class="favourites-top-div">
    <h2>Utilisateurs favoris</h2>
  </div>
  <ion-list [inset]="true">
    <ion-item *ngFor="let favorite of _favoritesList$ | async ">
      <div class="wrapper__item">
        <ion-label>{{favorite.username}}</ion-label>

        <ion-button (click)="deleteFavorite2(favorite.id)" fill="clear">
          <ion-icon name="heart"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

  <ng-template #noFavs>Vous n'avez aucun favoris, il faut cliquer sur les cartes pour en ajouter.</ng-template>


</ion-content>
