<ion-card class="card">
  <div>
    <img src="{{specy?.picture ? getPicture(specy?.picture): ''}}" alt="">
  </div>

  <div class="rows">
    <div class="header">
      <ion-card-header>
        <ion-card-title>{{specy?.name}}</ion-card-title>
        <ion-card-subtitle>{{specy?.usage}}</ion-card-subtitle>
      </ion-card-header>

      <div class="wrapper__buttons">
        <ion-button fill="clear">
          <ion-icon name="heart"></ion-icon>
        </ion-button>
        <ion-button (click)="onToggleTextExpand()" fill="clear">
          <ion-icon name="{{showFullText? 'chevron-up-outline':'chevron-down-outline'}}"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div class="row">
      <ion-card-content>
        <p class="{{showFullText? '': 'show-partial-text'}}">
          {{specy?.description}} {{specy?.description}} {{specy?.description}}
        </p>
      </ion-card-content>
    </div>
  </div>

</ion-card>
