<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Filtres</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <hr>
  <ion-title>
    <h3>Utilisateurs</h3>
  </ion-title>
  <app-picker [pageSize]="3" (choosenItem)="onChoosenUser($event)" [getItem]="getUsers" [itemKeys]="userKeys"
    [useFavorite]="true" [allFavorites]="allFavorites" [state]="state" *ngIf="states.users | async as state;">
  </app-picker>

  <hr>
  <ion-title>
    <h3>Espèces</h3>
  </ion-title>
  <app-picker [pageSize]="3" (choosenItem)="onChoosenSpecies($event)" [getItem]="getSpecies" [itemKeys]="specyKeys"
    [useFavorite]="false" [state]="state" *ngIf="states.species | async as state;">
  </app-picker>

  <hr>
  <ion-title>
    <h3>Usage</h3>
  </ion-title>

  <ion-list class="ion-padding" *ngIf="states.usages | async as state">
    <ion-item *ngFor="let u of state|keyvalue">
      <ion-checkbox slot="start" [value]="u.value" (ionChange)="onCheck($event)" [checked]="u.value.checked">
      </ion-checkbox>
      <ion-label>{{capitalizeFirstLetter(u.value.name)}}</ion-label>
    </ion-item>
  </ion-list>

  <hr>
  <ion-title>
    <h3>Radius</h3>
  </ion-title>
  <ion-range *ngIf="states.radius | async as state" (ionChange)="onRadiusChange($event)" [ticks]="true" [snaps]="true"
    [min]="100" [max]="5000" [step]="100" value="{{state}}"></ion-range>

  <hr>
  <div class="wrapper__date">
    <div class="wrapper__date" *ngIf="states.start | async as state">
      <ion-title>
        <h3>Date de début</h3>
      </ion-title>
      <ion-datetime-button datetime="start"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime max="{{currentDate}}" value="{{state}}" id="start" presentation="date" (ionChange)="onStartChange($event)">
          </ion-datetime>
        </ng-template>
      </ion-modal>

    </div>
      <div class="wrapper__date" *ngIf="states.end | async as state">
        <ion-title>
          <h3>Date de fin</h3>
        </ion-title>
        <ion-datetime-button  datetime="end"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime max="{{currentDate}}" value="{{state}}" id="end" presentation="date"
              (ionChange)="onEndChange($event)"></ion-datetime>
          </ng-template>
    </ion-modal>

    </div>
  </div>




</ion-content>
