<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Filtres</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <hr>
  <ion-title>
    <h3>Utilisateurs</h3>
  </ion-title>
  <app-picker [pageSize]="3" (choosenUser)="onChoosenUser($event)" [getItem]="getUsers" itemKey="username">
  </app-picker>

  <hr>
  <ion-title>
    <h3>Usage</h3>
  </ion-title>

  <ion-list class="ion-padding">
    <ion-item *ngFor="let u of allUsages|keyvalue">
      <ion-checkbox slot="start" value={{u.value}} (ionChange)="onCheck($event)">
      </ion-checkbox>
      <ion-label>{{u.value}}</ion-label>
    </ion-item>
  </ion-list>

  <hr>
  <ion-title>
    <h3>Radius</h3>
  </ion-title>
  <ion-range [ticks]="true" [snaps]="true" [min]="0" [max]="10" [(ngModel)]="radius"></ion-range>
</ion-content>
