:root {
    --shroom-strong-background: #D2C08D;
    --shroom-highlight: #EC673C;
    --black-nuancy-1: #0C0C0C;
    --grey-nuancy-one: #666666;
    --white: #FFFFFF;
    --shroom-secondary: #512A18;
    --grey-nuancy-2: #DADADA;
    --shroom-delete: #DC0000;
    --background: rgba(210, 192, 141, 0.44);
    --unavailable-background: rgba(255, 0, 0, 0.76);
}