<ion-content class="ion-padding-left">
  <div class="wrapper">
    <h2>Mes champignons</h2>
    <div class="mushrooms-subtitle-and-icon">
      <h3 class="page-main-subtitle">Tous mes champignons</h3>
      <ion-button fill="clear" slot="icon-only" (click)="openModal()">
        <ion-icon src="assets/icon/filter.svg" class="filter-button"></ion-icon>
      </ion-button>
    </div>
    <div class="wrapper__list ion-content-scroll-host">
      <ion-list>
        <ion-item *ngFor="let mushroom of items" class="ion-no-padding">
          <app-my-mushroom-card [mushroom]="mushroom" (delete)="deleteItem($event)" (modify)="modifyItem(mushroom)">
          </app-my-mushroom-card>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>

</ion-content>
