.wrapper__date {
  display: flex;
}

.filter-title {
  font-family: 'Quando', sans-serif;
  font-size: 1.5rem;
}

ion-title {
  text-align: left;
}

.filters-bottom-div {
  text-align: center;
  margin-bottom: 3rem;
}
