.clear-filters-button-div {
  display: flex;
  justify-content: flex-end;
}

.wrapper__date__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.filter-title {
  font-family: 'Quando', sans-serif;
  font-size: 1.5rem;
}

ion-title {
  text-align: left;
}

.filters-bottom-div {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
