<ion-header>
  <ion-toolbar>
    <ion-title>message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Messages</h1>
  <ion-item>
    <div *ngFor="let message of messages; index as i;">
      <div *ngIf=" message.userId === currentUserId" class="message-right-align">
        <span style="color: tomatoe">{{ message.username }} </span>
        <span>{{ message.value }}</span><br />
      </div>
      <div *ngIf="message.userId !== currentUserId" class="message-left-align">
        <span style="color: tomatoe">{{ message.username }} </span>
        <span>{{ message.value }}</span><br />
      </div>
    </div>
    <br /><br />
  </ion-item>
  <form #languageForm="ngForm" (change)="onLanguageChange(languageForm)">
    <select [(ngModel)]="language">
      <option class="flag-option french" value="fr">
        french
      </option>
      <option class="flag-option italian" value="it">
        italian
      </option>
      <option class="flag-option german" value="de">
        german
      </option>
      <option class="flag-option french" value="en">
        english
      </option>
    </select>
  </form>
  <form #messageForm="ngForm" (submit)="onSubmit(messageForm)">
    <ion-list>
      <!-- Username input -->
      <ion-item>
        <ion-label position="floating">Message</ion-label>
        <ion-input inputmode="text" #username="ngModel" required="true" name="message"
          [(ngModel)]="lastMessage.value"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <!-- Submit button -->
      <ion-button type="submit" expand="block">Envoyer</ion-button>
    </div>
  </form>
</ion-content>