/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

// =====================================================================
// Layers
// =====================================================================

@layer default,custom;

@import './mixin';
/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css' layer(default);

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css' layer(default);
@import '~@ionic/angular/css/structure.css' layer(default);
@import '~@ionic/angular/css/typography.css' layer(default);
@import '~@ionic/angular/css/display.css' layer(default);

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css' layer(default);
@import '~@ionic/angular/css/float-elements.css' layer(default);
@import '~@ionic/angular/css/text-alignment.css' layer(default);
@import '~@ionic/angular/css/text-transformation.css' layer(default);
@import '~@ionic/angular/css/flex-utils.css' layer(default);

@import '~@ionic/angular/css/core.css';

// /* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

// /* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@layer custom {
  :root {
    --shroom-strong-background: #d2c08d;
    --shroom-highlight: #ec673c;
    --black-nuancy-1: #0c0c0c;
    --grey-nuancy-one: #666666;
    --white: #ffffff;
    --shroom-secondary: #512a18;
    --grey-nuancy-2: #dadada;
    --shroom-delete: #dc0000;
    --background: rgba(210, 192, 141, 0.44);
    --unavailable-background: rgba(255, 0, 0, 0.76);
    --border-color: var(--grey-nuancy-2);
    --secondary-font: 'Inter', sans-serif;
    --main-font: 'Quando', serif;
    //calendar variables
    --ion-color-calendar: var(--shroom-secondary);
    --ion-color-calendar-rgb: 81, 42, 24;
    --ion-color-calendar-contrast: #ffffff;
    --ion-color-calendar-contrast-rgb: 255, 255, 255;
    --inner-padding-end: 0 !important;
  }

  ion-item .item-inner {
    padding-inline-end: none;
  }

  // =====================================================================
  // Base style
  // =====================================================================

  html {
    background-color: white;
    font-size: 10px;
    font-family: 'Quando';
  }

  h1 {
    font-family: var(--main-font);
    font-size: 3.6rem;
    text-align: center;
    color: var(--black-nuancy-1);
  }

  h2 {
    font-family: var(--main-font);
    font-size: 2.4rem;
    text-align: center;
    color: var(--black-nuancy-1);
  }

  h3 {
    font-family: var(--main-font);
    font-size: 1.6rem !important;
    text-align: center;
    color: var(--black-nuancy-1);
  }

  p,
  span {
    font-family: var(--main-font);
    font-size: 1.2rem;
    color: var(--black-nuancy-1);
  }

  // =====================================================================
  // custom ion classes
  // =====================================================================

  .ion-color-calendar {
    --ion-color-base: var(--ion-color-calendar);
    --ion-color-base-rgb: var(--ion-color-calendar-rgb);
    --ion-color-contrast: var(--ion-color-calendar-contrast);
    --ion-color-contrast-rgb: var(--ion-color-calendar-contrast-rgb);
  }

  // =====================================================================
  // ion style
  // =====================================================================

  toolbar-container {
    display: grid;
  }

  ion-datetime {
    border: 2px solid black;
    color: var(--black-nuancy-1);
    border-radius: 16px;
  }

  ion-infinite-scroll-content {
    border: none;
  }

  ion-range {
    --bar-height: 3px;
    --knob-size: 30px;
    --bar-border-radius: 3px;
    --bar-background: var(--grey-nuancy-2);
    --bar-background-active: var(--shroom-secondary);
  }

  ion-item {
    @include font-paragraph(var(--black-nuancy-1), left);
  }

  .wrapper__list ion-item {
    --border-style: none;
  }

  ion-list {
    padding: 1rem 0 0 0 !important;
  }

  ion-input {
    --background: var(--grey-nuancy-2);
    --padding-start: 3.4rem;
    --padding-top: 0.8rem;
    --padding-bottom: 0.8rem;
  }

  ion-input input,
  ion-text {
    font-family: var(--secondary-font) !important;
  }

  ion-input input {
    font-size: 1.2rem !important;
  }

  ion-label {
    font-size: 1.4rem !important;
    font-family: var(--secondary-font) !important;
    color: var(--black-nuancy-1) !important;
  }

  ion-button {
    --border-radius: 8px;
    --box-shadow: 0 0 0 0 rgb(0, 0, 0, 0.25);
  }

  ion-searchbar {
    padding: 1.6rem !important;
  }

  .header-md::after {
    height: 0 !important;
  }

  .alert .alert-head h2 {
    text-align: center;
  }

  .alert .alert-wrapper .alert-button-group {
    justify-content: space-between !important;
  }

  .searchbar-input.sc-ion-searchbar-md {
    font-size: 12px !important;
    font-family: var(--secondary-font) !important;
  }

  .small-button-text {
    font-size: 1.5rem;
    color: white;
    text-transform: none;
  }

  .big-button-text {
    font-size: 2.4rem;
    color: white;
    text-transform: none;
  }

  ion-alert.custom-alert {
    --backdrop-opacity: 0.7;
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr;
  }

  .custom-alert .alert-button-group {
    padding: 8px;
  }

  button.alert-button.alert-button-confirm {
    background-color: var(--ion-color-success);
    color: var(--ion-color-success-contrast);
  }

  button.alert-button.alert-button-delete {
    background-color: var(--ion-color-danger);
    color: var(--ion-color-success-contrast);
  }

  app-mushroom-card,
  app-my-mushroom-card,
  app-specy-card {
    padding: 0 0 0 1.6rem;
  }

  // =====================================================================
  // custom classes
  // =====================================================================

  .input-wrapper {
    flex-direction: column;
  }

  .page-main-subtitle {
    text-align: left;
  }

  .button-text-1 {
    font-family: var(--main-font);
    font-size: 2.4rem;
    color: var(--white);
  }

  .button-text-2 {
    font-family: var(--main-font);
    font-size: 1.5rem;
    color: var(--white);
  }

  .leaflet-control-attribution.leaflet-control {
    display: none;
  }

  .map__card .card {
    padding: 1rem 1.6rem !important;
  }
}
