/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

// =====================================================================
// Typography
// =================================================================================

@mixin font-style($color, $text-align){
    color: $color;
    text-align: $text-align;
}

// "Main titles" in figma
@mixin font-main-title($color, $text-align){
    @include font-style($color, $text-align);
    font-size: 3.6rem;
    
}

// "H2" in figma
@mixin font-h2($color, $text-align){
    @include font-style($color, $text-align);
    font-size: 2.4rem;
    
}

// "H3" in figma
@mixin font-h3($color, $text-align){
    @include font-style($color, $text-align);
    font-size: 1.6rem;
    
}

// "paragraphes normaux" in figma
@mixin font-paragraph($color, $text-align){
    @include font-style($color, $text-align);
    font-size: 0.75rem;
    line-height: 1.2rem;
}

// "BoutonText1" in figma (Bouton d'importance élevé. Exeple: déconnexion, supprimer, etc)
@mixin font-button-text1($color, $text-align){
    @include font-style($color, $text-align);
    font-size: 2.4rem;
    
}


// "Label Inputs" in figma
@mixin font-label-input($color, $text-align){
    @include font-style($color, $text-align);
    font-size: 1.6rem;
    line-height: 1.375rem;
    font-weight: 400;
    font-family: Inter;  
}

// "BoutonText2" in figma (Bouton d'importance moyenne. Exemple: modifier, etc)
@mixin font-button-text2($color, $text-align){
    @include font-style($color, $text-align);
    font-size: 1.5rem;
    
}

// "Nom d'utilisateurs" in figma
@mixin font-username($color, $text-align){
    @include font-style($color, $text-align);
    font-size: 1.2rem;
    
}

// "Mini-titre" in figma (exemple : Titre des filtres)
@mixin font-mini-title($color, $text-align){
    @include font-style($color, $text-align);
    font-size: 0.813rem;
    line-height: 1.3rem;
    
}

// "Supprimer compte" in figma
@mixin font-delete-account($color, $text-align){
    @include font-style($color, $text-align);
    font-size: 0.7rem;
    
}

// =====================================================================
// Layers
// =====================================================================

@layer default,custom; 

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css" layer(default);

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css" layer(default);
@import "~@ionic/angular/css/structure.css" layer(default);
@import "~@ionic/angular/css/typography.css" layer(default);
@import '~@ionic/angular/css/display.css' layer(default);

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css" layer(default);
@import "~@ionic/angular/css/float-elements.css" layer(default);
@import "~@ionic/angular/css/text-alignment.css" layer(default);
@import "~@ionic/angular/css/text-transformation.css" layer(default);
@import "~@ionic/angular/css/flex-utils.css" layer(default);

@layer custom {

.alert .alert-head h2 {
  text-align: center;
}

.alert .alert-wrapper .alert-button-group {
  justify-content: space-between !important;
}
}

:root {
    --shroom-strong-background: #D2C08D;
    --shroom-highlight: #EC673C;
    --black-nuancy-1: #0C0C0C;
    --grey-nuancy-one: #666666;
    --white: #FFFFFF;
    --shroom-secondary: #512A18;
    --grey-nuancy-2: #DADADA;
    --shroom-delete: #DC0000;
    --background: rgba(210, 192, 141, 0.44);
    --unavailable-background: rgba(255, 0, 0, 0.76);

    font-size: 10px;
}


h1 {
    font-family: 'Quando', serif;
    font-size: 3.6rem;
    color: var(--black-nuancy-1);
}

h2 {
    font-family: 'Quando', serif;
    font-size: 2.4rem;
    color: var(--black-nuancy-1);
}

h3 {
    font-family: 'Quando', serif;
    font-size: 1.6rem;
    color: var(--black-nuancy-1);
}

.button-text-1 {
    font-family: 'Quando', serif;
    font-size: 2.4rem;
    color: var(--white);
}

.button-text-2 {
    font-family: 'Quando', serif;
    font-size: 1.5rem;
    color: var(--white);
}

p, span {
    font-family: 'Quando', serif;
    font-size: 1.2rem;
    color: var(--black-nuancy-1);
}

label {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    color: var(--black-nuancy-1);
}