<ion-card class="card">
  <div>
    <img src="{{mushroom?getPicture(mushroom.picture):''}}" alt="">
  </div>

  <div class="card-text-icons-div">
    <div class="card-text">
      <div class="card-header-div">
        <ion-card-header>
          <ion-card-title>{{mushroom?.specy?.name}}</ion-card-title>
          <ion-card-subtitle class="card-user-name">{{mushroom?.user?.username}}</ion-card-subtitle>
        </ion-card-header>
      </div>
      <div class="card-content-div">
        <ion-card-content class="{{showFullText? '': 'show-partial-text'}}">
          {{mushroom?.description}}
        </ion-card-content>
        <ion-button routerLink="/wiki" router-direction="back" size="small">
          <span class="small-button-text">Liste des champignons</span>
        </ion-button>
      </div>
    </div>
    <div class="wrapper__buttons">
      <ion-button (click)="addToFavorites(mushroom)" fill="clear">
        <ion-icon *ngIf="isfav;" name="heart"></ion-icon>
        <ion-icon *ngIf="!isfav;" name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onToggleTextExpand()" fill="clear">
        <ion-icon name="{{showFullText? 'chevron-up-outline':'chevron-down-outline'}}"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-card>