<ion-content>
  <div class="wrapper">

    <h2>Ajouter un Champignon</h2>

    <div *ngIf="!pictureTaked" class="takepicture">
      <ion-button (click)="takePicture()">Ajouter un champignon</ion-button>
    </div>

    <div *ngIf="pictureTaked">
      <form [formGroup]="MushroomForm2" (ngSubmit)="addMushroom()">

        <!-- picture -->
        <div class="wrapper__picture">
          <img [src]="pictureBase64" />
          <ion-button (click)="takePicture()">Reprendre la photo</ion-button>
        </div>

        <!-- species -->
        <ion-item>
          <ion-select class="form-control" interface="action-sheet"
            placeholder="Select Species" ngModel name="Species" formControlName="specyId">
            <ion-select-option *ngFor="let species of speciesList$ | async " [value]="species.id">{{species.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <!-- <ion-item> -->
        <!--   <ion-label class="inter-font-item" position="floating">Nom d'utilisateur</ion-label> -->
        <!--   <ion-input inputmode="text" #username="ngModel" required="true" name="username" -->
        <!--     [(ngModel)]="authRequest.username" class="input-login-primary"> </ion-input> -->
        <!-- </ion-item> -->

        <!-- errors species -->
        <div *ngIf="f['specyId'].errors">
          <ion-item lines="none" *ngIf="f['specyId'].touched && f['specyId'].errors['required']">
            <ion-text color="danger">Vous devez sélectionner une espèce</ion-text>
          </ion-item>
        </div>

        <!-- description -->
        <ion-item>
          <ion-label>Description</ion-label>
          <ion-textarea ngModel class="form-control" name="Description" formControlName="description"></ion-textarea>
        </ion-item>

        <!-- errors description -->
        <div *ngIf="f['description'].errors">
          <ion-item lines="none" *ngIf="f['description'].errors['maxlength']">
            <ion-text color="danger">La description est trop longue</ion-text>
          </ion-item>
        </div>

        <!-- submit -->
        <ion-button type="submit" size="large" color="secondary"
          [disabled]="f['description'].errors || f['specyId'].errors">
          Enregistrer
        </ion-button>

      </form>
    </div>

  </div>
</ion-content>
