<ion-content>
    <div class="profil-top-div">
      <h2>Profil</h2>
    </div>

  <div class="wrapper">

    <div class="profil-middle-div">
      <ion-list>
        <ion-item routerLink="personal-data" [state]="user" expand="block">
          <div class="wrapper__link">
            <span position="floating" class="inter-font-span">Données personnels</span>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </ion-item>
        <ion-item routerLink="my-mushrooms" [state]="user" expand="block">
          <div class="wrapper__link">
            <span class="inter-font-span"> Mes champignons</span>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </ion-item>
      </ion-list>
    </div>

    <div class="profil-bottom-div">
      <div class="profil-div-button-wrapper">
        <ion-button (click)="logOut()" size="large" color="secondary">
          <span class="big-button-text">Déconnexion</span>
        </ion-button>
      </div>
      <div class="profil-div-button-wrapper">
        <ion-button (click)="presentAlert()" size="large" color="danger" expand="block">
          <span class="big-button-text">Supprimer</span>
        </ion-button>
      </div>
      <p class="warning-delete-account-text">
        Cette action supprimera votre compte
        définitivement
      </p>
    </div>

  </div>
</ion-content>
